@use '@carbon/react/scss/spacing' as *;

.devices-page {
  padding: 0;
  margin: 0;
  max-width: 100%;

  &__content {
    padding-top: $spacing-07;
    padding-right: $spacing-08;
    padding-left: $spacing-08;
    padding-bottom: $spacing-08;
    margin: 0;
  }

  &__title {
    margin-bottom: $spacing-09;
  }

  &__device {
    cursor: pointer;
  }
}