@use '@carbon/react/scss/spacing' as *;

.device-settings {
  padding-left: 1rem;
  padding-right: 1rem;

  &__filed {
    width: 100%!important;
  }

  &__toggle {
    margin-left: $spacing-09;
  }

  &__counter {
    padding: 0;
    margin: 0;
  }

  .cds--slider__range-label {
    margin-right: 0!important;
  }

  .cds--slider-container {
    width: 100%!important;
  }

  .cds--slider {
    max-width: 100%!important;
  }
}